# 9. ğŸ¦„ ê°€ë, ëª¬ìŠ¤í„°ë³¼! ì „ì„¤ì˜ í¬ì¼“ëª¬ ì°¾ì•„ ì‚¼ë§Œë¦¬

## 9-1. ë“¤ì–´ê°€ë©°

### í•™ìŠµ ì „ì œ
---
- numpy, pandasë¥¼ í™œìš©í•´ì„œ í‘œ ë°ì´í„°ë¥¼ ë‹¤ë¤„ë³¸ ì ì´ ìˆê³ , ì´ì— ëŒ€í•œ ê¸°ë³¸ì ì¸ í™œìš©ì„ í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
- pandasì˜ ë¬¸ë²•ê³¼ ë‹¤ì–‘í•œ ë©”ì„œë“œë¥¼ í™œìš©í•´ ë³¸ ì ì´ ìˆê³ , ì½”ë“œë¥¼ ë³´ë©´ ì–´ëŠ ì •ë„ ì´í•´í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
- matplotlibì„ í™œìš©í•´ì„œ ë°ì´í„° ì‹œê°í™”ë¥¼ í•´ë³¸ ì ì´ ìˆê³ , ì½”ë“œë¥¼ ë³´ë©´ ì–´ëŠ ì •ë„ ì´í•´í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
- ë°ì´í„°ì…‹ì„ train/test ë°ì´í„°ì…‹ìœ¼ë¡œ ë‚˜ëˆ„ì–´ì„œ ëª¨ë¸ì„ í•™ìŠµ ë° ê²€ì¦í•´ë³¸ ê²½í—˜ì´ ìˆìŠµë‹ˆë‹¤.

### í•™ìŠµ ëª©í‘œ
---
- ë‹¤ì–‘í•œ í”¼ì²˜ê°€ ìˆëŠ” ë°ì´í„°ì…‹ì„ ë°‘ë°”ë‹¥ë¶€í„° ìƒ…ìƒ…ì´ ëœ¯ì–´ë³´ê³ , ì „ì„¤ì˜ í¬ì¼“ëª¬ì„ ë¶„ë¥˜í•˜ê¸° ìœ„í•œ í”¼ì²˜ì—ëŠ” ë¬´ì—‡ì´ ìˆëŠ”ì§€ ìƒê°í•´ ë´…ì‹œë‹¤.
- ëª¨ë¸ í•™ìŠµì„ ì‹œì‘í•˜ê¸° ì „ ëª¨ë“  ì»¬ëŸ¼ì— ëŒ€í•´ ê·¸ë˜í”„ ì‹œê°í™”, í”¼ë²— í…Œì´ë¸” ë“±ì„ í™œìš©í•˜ë©° ë‹¤ì–‘í•œ ë°©ë²•ìœ¼ë¡œ ì¶©ë¶„í•œ EDAë¥¼ ì§„í–‰í•©ë‹ˆë‹¤.
- ëª¨ë¸ í•™ìŠµì— ë„£ê¸° ìœ„í•´ì„œ ì „ì²˜ë¦¬ê°€ í•„ìš”í•œ ë²”ì£¼í˜•/ë¬¸ìì—´ ë°ì´í„°ì— ëŒ€í•œ ì „ì²˜ë¦¬ë¥¼ ì›-í•« ì¸ì½”ë”© ë“±ìœ¼ë¡œ ì ì ˆí•˜ê²Œ ì§„í–‰í•©ë‹ˆë‹¤.
- ì „ì²´ ë°ì´í„°ì…‹ì„ train/test ë°ì´í„°ì…‹ìœ¼ë¡œ ë‚˜ëˆ„ê³ , ì ì ˆí•œ ë¶„ë¥˜ ëª¨ë¸(Decision Tree)ì„ ì„ íƒí•´ í•™ìŠµì‹œí‚¤ë©° ë² ì´ìŠ¤ë¼ì¸ê³¼ ë¹„êµí•©ë‹ˆë‹¤.

### ëª©ì°¨
---
1. í¬ì¼“ëª¬, ê·¸ ë°ì´í„°ëŠ” ì–´ë””ì„œ êµ¬í• ê¹Œ
    (1) ì•ˆë…•, í¬ì¼“ëª¬ê³¼ ì¸ì‚¬í•´!
    (2) í¬ì¼“ëª¬, ê·¸ ë°ì´í„°ëŠ” ì–´ë””ì„œ êµ¬í• ê¹Œ
    (3) í¬ì¼“ëª¬ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
2. ì „ì„¤ì˜ í¬ì¼“ëª¬? ë¨¼ì € ìƒ…ìƒ…ì´ ì‚´í´ë³´ì!
    (1) ê²°ì¸¡ì¹˜ì™€ ì „ì²´ ì¹¼ëŸ¼
    (2) IDì™€ ì´ë¦„
    (3) í¬ì¼“ëª¬ì˜ ì†ì„±
    (4) ëª¨ë“  ìŠ¤íƒ¯ì˜ ì´í•©
    (5) ì„¸ë¶€ ìŠ¤íƒ¯
    (6) ì„¸ëŒ€
3. ì „ì„¤ì˜ í¬ì¼“ëª¬ê³¼ ì¼ë°˜ í¬ì¼“ëª¬, ê·¸ ì°¨ì´ëŠ”?
    (1) ì „ì„¤ì˜ í¬ì¼“ëª¬ì˜ Totalê°’
    (2) ì „ì„¤ì˜ í¬ì¼“ëª¬ì˜ ì´ë¦„
4. ëª¨ë¸ì— ë„£ê¸° ìœ„í•´! ë°ì´í„° ì „ì²˜ë¦¬í•˜ê¸°
    (1) ì´ë¦„ì˜ ê¸¸ì´ê°€ 10 ì´ìƒì¸ê°€?
    (2) ì´ë¦„ì— ìì£¼ ì“°ì´ëŠ” í† í° ì¶”ì¶œ
    (3) Type 1 & 2! ë²”ì£¼í˜• ë°ì´í„° ì „ì²˜ë¦¬í•˜ê¸°
5. ê°€ë, ëª¬ìŠ¤í„°ë³¼!
    (1) ê°€ì¥ ê¸°ë³¸ ë°ì´í„°ë¡œ ë§Œë“œëŠ” ë² ì´ìŠ¤ë¼ì¸
    (2) ì˜ì‚¬ ê²°ì • íŠ¸ë¦¬ ëª¨ë¸ í•™ìŠµì‹œí‚¤ê¸°
    (3) í”¼ì²˜ ì—”ì§€ë‹ˆì–´ë§ ë°ì´í„°ë¡œ í•™ìŠµì‹œí‚¤ë©´ ì–¼ë§ˆë‚˜ ì°¨ì´ê°€ ë‚ ê¹Œ?
    (4) ì˜ì‚¬ ê²°ì • íŠ¸ë¦¬ ëª¨ë¸ ë‹¤ì‹œ í•™ìŠµì‹œí‚¤ê¸°

### 9-2. ì•ˆë…•, í¬ì¼“ëª¬ê³¼ ì¸ì‚¬í•´!

**ì „ì„¤ì˜ í¬ì¼“ëª¬ êµ¬ë³„í•˜ê¸°**

íƒìƒ‰ì  ë°ì´í„° ë¶„ì„(Exploratory Data Analysis, ì´í•˜ EDA)

### 9-3. í¬ì¼“ëª¬, ê·¸ ë°ì´í„°ëŠ” ì–´ë””ì„œ êµ¬í• ê¹Œ?

- ìºê¸€ í¬ì¼“ëª¬ ìŠ¤íƒ¯ (https://www.kaggle.com/datasets/abcsds/pokemon)

## 9-4. í¬ì¼“ëª¬ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

### ë¼ì´ë¸ŒëŸ¬ë¦¬ ê°€ì ¸ì˜¤ê¸°
---

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [3]:
import os
csv_path = os.getenv("HOME") +"/aiffel/workplace/240527-pokemon-eda/data/Pokemon.csv"
original_data = pd.read_csv(csv_path)

In [4]:
pokemon = original_data.copy()
print(pokemon.shape)
pokemon.head()

(800, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [6]:
# ì „ì„¤ì˜ í¬ì¼“ëª¬ ë°ì´í„°ì…‹
#
legendary = pokemon[pokemon["Legendary"] == True].reset_index(drop=True)
print(legendary.shape)
legendary.head()

(65, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
1,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
2,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
3,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
4,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [8]:
# Q. ì¼ë°˜ í¬ì¼“ëª¬ì˜ ë°ì´í„°ì…‹ë„ ë§Œë“¤ì–´ë´…ì‹œë‹¤.
ordinary = pokemon[pokemon["Legendary"] == False].reset_index(drop=True)
print(ordinary.shape)
ordinary.head()

(735, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False